#inputStyling{
    border-radius: 0px;
    

background: #F4F9FF;
border: 1px solid #4AD9FE;
box-sizing: border-box;


}
.buttonsStyling{
    margin-left: 45%;
    margin-top: 3rem;
}
#nextbtn{
    border-radius: 0px;
    width: 7rem;
}
#laterbtn{
    border-bottom: 2px solid #5031A9;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    margin-right: 2rem;
}

/* FOOTER STYLING */
.divStyling{
    background:#5031A9;
    margin-top:2rem;
    height: '3rem';
}

.pStyling{
    text-align: center;
    font-family: poppins;
     padding: 7px;
}
/* LOGIN STYLING */

.btn-show-hide-pwd{
    opacity: 0.5;
}
.btn-show-hide-pwd:hover{
    opacity: 1;
}